<div id="tablecr">


  <div style="float:left">
  <div class="tctable">
    Table Editor:   ZetNet@
  </div>


  

  <button v-on:click="createTable(4,3,tables)"> ADD TABLE </button>
  <button v-on:click="createTable(4,3,tables)"> SAVE TABLE </button>
  <button v-on:click="loadJSON"> LAOD JSON </button>


  </div>
  <div id="apple"></div>


  
  <transition-group name="list-complete" tag="p"  >
    <div class= "tctable, list-complete-item"  v-for="(table,i) in tables" v-bind:key="table">
      <button @click="addRow(table)">ADDROW</button>
      <button @click="delRow(table)">DELROW</button>
      |
      <button @click="addCol(table)">ADDCOl</button>
      <button @click="delCol(table)">DELCOL</button>
      |
      <button v-on:click="deleteTable(i, tables)">DEL TABLE</button>

      <table>
	<tr>
	  <th v-for="i in table.c" @click="console.log">
	    {{i}}
	  </th>
	</tr>
	 
	<tr v-for="(tr, i_tr) in table.data">
	  <td v-for="(th, i_th) in tr">
	    <input name="" type="text" v-model="tables[i].data[i_tr][i_th]">

	  </td>
	</tr>
      </table>


    </div>
  </transition-group>

  <div>



  </div>
  
</div>


<script src = "vue.min.js">
</script>

<script src = "tcr.js">
</script>

<link href="tcstyle.css" rel="stylesheet"/>
