*{
    color:#666;
}

.tctable{
    background-color: #FBFBFB;
    margin-top: 5px;

}

button {
    border-radius:5px;
    
}

th{
    border: 1px solid #999;
    background-color: #BBB;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}



/* animation */
.list-complete-item {
  transition: all 1s;

  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
.list-complete-leave-active {
  position: absolute;
}





#apple{

    display: inline-block;
    color: red;
    stylebackground-origin: content-box;
    height: 90px;
    width: 150px;

    background-size: 100% 100%;
    background-image:url(apple.jpg);

}
